.buy-section {
  padding: 75px 0 260px 0;
  h1 {
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: -2px;
    max-width: 660px;
    margin: auto;
    margin-bottom: 55px;
    @media (max-width: 992px) {
      font-size: 2.5rem !important;
      max-width: 450px;
    }
    span {
      background: linear-gradient(
        90deg,
        var(--second-color),
        var(--main-color)
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  .card {
    max-width: 1028px;
    width: 100%;
    margin: auto;
    padding-bottom: 26px;
    border: 2px solid #000;
    border-radius: 20px;
    .card-header {
      background-color: transparent;
      padding: 40px 0;
      .number {
        font-size: 3rem;
        font-weight: 500;
      }
    }
    .card-body {
      max-width: 500px;
      padding: 20px 0;
      border-top: 2px solid #000 !important;
      .list-group-item {
        font-size: 1.2rem;
      }
      .btn {
        @media (max-width: 992px) {
          width: auto !important;
        }
      }
    }
  }
}
